@{
    ViewData["Title"] = "BaoHanh";
    ViewData["PageType"] = "baohanh";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/BaoHanh.css" asp-append-version="true" />

<div class="d-flex justify-content-center">
    <div class="container-2">
        <h2 class="text-center">CHẾ ĐỘ BẢO HÀNH</h2>
        <h3>BẢO HÀNH</h3>

        <h4>🅰️ GÓI BẢO HÀNH MẶC ĐỊNH</h4>
        <p>(Giá niêm yết đã có sẵn gói BH này) bao gồm:</p>
        <ul id="ul-1">
            <li>
                Máy được BH 1 tháng tất cả các lỗi của NSX:
                <span class="highlight">Lỗi hoàn trả 100% tiền mua hàng</span>
            </li>
            <li>Không bảo hành pin: Pin được thay với giá 300k trọn đời áp dụng cho tất cả mọi dòng máy</li>
            <li>Gói bảo hành này áp dụng cho tất cả mọi sản phẩm, bao gồm cả máy Thanh Lý</li>
        </ul>

        <h4>🅱️ GÓI BẢO HÀNH 1 NĂM</h4>
        <p>(+ 1 triệu so với giá bán niêm yết) bao gồm:</p>
        <ul id="ul-1">
            <li>Máy được BH 1 năm tất cả các lỗi của NSX (cả pin)</li>
            <li>
                Máy lỗi trong vòng 1 tháng đầu (do lỗi của NSX), khách được
                <span class="highlight">hoàn trả 100% tiền mua hàng</span>
            </li>
            <li>
                Sau thời điểm mua máy 1 tháng, nếu máy lỗi (do lỗi của NSX):
                <ul id="ul-1">
                    <li>Khách được hoàn trả 100% tiền bằng với giá niêm yết tại thời điểm hiện tại + số tiền tương ứng với thời hạn bảo hành còn lại</li>
                    <li>Nếu khách mua máy khác, thời gian bảo hành của máy lỗi sẽ được chuyển sang máy mới + thêm 1 tháng BH mặc định</li>
                </ul>
            </li>
            <li>
                Trong 1 năm nếu khách muốn bán lại máy:
                <ul id="ul-1">
                    <li>Cửa hàng mua lại bằng giá niêm yết tại thời điểm hiện tại</li>
                    <li>Nếu lỗi do người dùng (làm rơi vỡ, vào nước), cửa hàng hỗ trợ sửa chữa với giá gốc hoặc thanh lý hộ khách không thu thêm phụ phí</li>
                </ul>
            </li>
            <li>Khách có thể dùng tiền bán máy để "lên đời" miễn phí, máy mới vẫn được bảo hành 1 năm</li>
        </ul>
    </div>
</div>

