@{
    ViewData["Title"] = "Liên hệ";
    Layout = "_Layout"; // Dùng layout chung
}
<link rel="stylesheet" href="~/css//LienHe.css" asp-append-version="true" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<h4 class="text-center">AI Apple Foundation</h4>
<br />
<div class="info-contact">

    <div class="group-address">
        <ul>
            <li>
                <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="info">
                    <b>Địa chỉ</b>
                    <span>828 Đ. Sư Vạn Hạnh, Phường 12, Quận 10, Hồ Chí Minh</span>
                </div>
            </li>
            <li>
                <div class="icon">
                    <i class="fas fa-clock"></i>
                </div>
                <div class="info">
                    <b>Thời gian làm việc</b>
                    <span>8h - 22h<br />Từ thứ 2 đến chủ nhật</span>
                </div>
            </li>
            <li>
                <div class="icon">
                    <i class="fas fa-phone-alt"></i>
                </div>
                <div class="info">
                    <b>Hotline</b>
                    <a href="tel:0123456789">012 345 6789</a>
                </div>
            </li>
            <li>
                <div class="icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="info">
                    <b>Email</b>
                    <a href="mailto:minhducthuky@gmail.com">minhducthuky@gmail.com</a>
                </div>
            </li>
        </ul>
    </div>
</div>


